*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: none;
}
:root {
--primary: #16D5FF;
--secondary: #999999;
--light: #F2F8FE;
---white:#fff;
--dark: #111111;
--bs-blue: #0d6efd;
}
.logo{
color: var(--primary);
z-index: 60;
font-family: Arial, Helvetica, sans-serif;
margin-top: .4rem;
font-size: 20px;
}
.img-logo{
display: flex;
gap: 1rem;
}
.nav{
background-color:var(---white);
display: flex;
width: 100%;
padding: 1rem;
z-index: 99;

/* gap: 15rem; */
position: fixed;
}
#navbar{
transition: 0.4s;
}
.hamburger{
position: relative;
display: block;
width: 35px;
cursor: pointer;
height: 5px;
background: none;
appearance: none;
outline: none;
border: none;
z-index: 100;
}
.hamburger .bar,.hamburger:after, .hamburger:before{
content: '';
display: block;
width: 100%;
height: 5px;
background-color:var(--primary);
margin: 3px 0px ;
transition: 0.4s;
}
.mobile-nav{
display: block;
z-index: 0;
}
.hamburger.is-active:after{
transform: rotate(45deg) translate(-8px, -9px);
}
.hamburger.is-active:before{
transform: rotate(-45deg) translate(-5px,4px);
}
.hamburger.is-active .bar{
opacity: 0;
}
.mobile-nav{
position: fixed;
top: 0;
left: 100%;
width: 100%;
min-height:50vh;
display: block;
background-color: var(--light);
padding-top: 30px;
transition: 0.4s;
z-index:1;
}
.mobile-nav.is-active{
left: 0;
}
.mobile-nav a{
display: block;
width: 100%;
margin:  16px 16px;
text-align: center;
padding: 12px 12px;
color: var(--primary);
text-decoration:none ;
text-transform: capitalize;
transition: 0.4s;
font-size: 19px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mobile-nav a,ul{
list-style: none;
}
.nav{
display: flex;
justify-content: space-between;
}
.desktop{
display: none;
}
/* hero ssection  */
.hero{
padding: 5rem 2rem 4rem 2rem;
background-color: var(--light);
}
.hero-about{
display:block;
}
.hero h1 {
padding-left: 3rem;
padding-bottom: 1rem;
font-size: 30px;
font-weight: 600;
}
.hero-link{
/* padding-top: 5rem; */
display: flex;
gap:.5rem;
padding-left: 3rem;
padding-bottom: .8rem;
}
.hero-img{
width: 100%;
}
.about-section{
display: block;
padding: 3rem 2rem 2rem 2rem;
gap: 2rem;
}

.about-section img{
margin-top: 2rem;
}
.about-text h1{
font-size: 40px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 1rem;
color: var(--dark);
}
.about-text h4{
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 1rem;
color: var(--primary);
font-size: 22px;
font-weight: 500;
}
.about-text p{
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 1rem;
color: var(--secondary);
font-size: 14px;
}
.about-text li{
line-height: 2rem;
list-style:inside;
color: var(--secondary);
}
.fa-check{
color: var(--primary);
background-color: var(--light);
padding: .5rem;
border-radius: 20px;
}
.list {
display: flex;
gap: 1rem;
margin-bottom: 1rem;
}
.list p{
/* padding-top: .6rem; */
position: relative;
top: .5rem;
}
.about-section{
display: block;
padding: 3rem 2rem 2rem 2rem;
gap: 2rem;
}
/* .about-text{
width: 60%;
} */
.about-section img{
margin-top: 2rem;
}
.about-text h1{
font-size: 40px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 1rem;
color: var(--dark);
}
.about-text h4{
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 1rem;
color: var(--primary);
font-size: 22px;
font-weight: 500;
}
.about-text p{
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 1rem;
color: var(--secondary);
font-size: 14px;
}
.about-text li{
line-height: 2rem;
list-style:inside;
color: var(--secondary);
}
.fa-check{
color: var(--primary);
background-color: var(--light);
padding: .5rem;
border-radius: 20px;
}
.list {
display: flex;
gap: 1rem;
margin-bottom: 1rem;
}
.list p{
/* padding-top: .6rem; */
position: relative;
top: .5rem;
}
.hero-button{
padding: 1rem;
background: var(--primary);
border: none;
border-radius: 10px;
margin-bottom: 2rem;
}
.hero-button a{
color: var(---white);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
background-color: var(--light);
padding: 1rem;
margin-top: 4rem;
}
.logo-img{
display: flex;
gap: 1rem;
margin-bottom: .7rem;
}
/* .logo-img img{
width: 20%;
} */
.logo-footer{
color: var(--primary);
z-index: 60;
font-family: Arial, Helvetica, sans-serif;
margin-top: .4rem;
font-size: 25px;
}
.diam{
color: var(--secondary);
font-size: 18px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-area{
display: block;
gap: 4rem;
}

.Newsletter h2{
margin-top: 1.7rem;
font-family: 25px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
}
.input{
padding: 1rem;
border: solid 1px var(--primary);
border-radius: 10px;
}
.Newsletter button{
padding: 1rem;
background-color: var(--primary);
border: none;
border-radius: 10px;
color: var(---white);
}
.footer-links{
display: flex;
gap: 2rem;
}
.get-in{
margin-top: 1rem;

}
.get-in h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
size: 19px;
font-weight: 400;
padding-bottom: 1.5rem;
}
.footer-links a, p{
text-decoration: none;
color: var(--secondary);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-bottom: 1rem;
}
.links-area{
margin-top: 3rem;
display: block;
justify-content: space-between;
}
.footerr{
list-style: none;
padding-bottom: .5rem;
}
.footerr a{
color: var(--secondary);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: 0.3s ease-in-out;
font-size: 17px;
}
.footerr a:hover{
color: var(--primary);
font-size:20px ;
}
@media (min-width:1024px) {
.mobile{
display: none;
}
.logo{
color: var(--primary);
z-index: 60;
font-family: Arial, Helvetica, sans-serif;
margin-top: .4rem;
font-size: 30px;
}
.nav{
background-color:var(---white);
display: flex;
width: 100%;
padding: 1rem 2rem 1rem 2rem;
position: fixed;
}
#navbar{
transition: 0.4s;
}
/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
color: var(--primary);
border-bottom: solid 2px var(--primary);
font-weight: 500;
} 
.desktop{
display: block;
}
.desktop-nav{
display: flex;
margin-top: 1rem;
gap: 4rem;
}

.nav a{
color: var(--dark);
text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: -2rem;
}
/* hero ssection  */
.hero{
padding: 13rem 2rem 4rem 2rem;
background-color: var(--light);
}
.hero-about{
display: flex;
justify-content: space-between;
padding-right: 3rem;
}
.hero h1 {
padding-left: 3rem;
padding-bottom: 1rem;
font-size: 50px;
font-weight: 600;
}
.hero-link{
/* padding-top: 5rem; */
display: flex;
gap:.5rem;
padding-left: 3rem;
}
.hero-about img{
margin-top: -6rem;
}
.about-section{
display: flex;
padding: 3rem 2rem 2rem 2rem;
gap: 2rem;
}
.about-text{
width: 60%;
}
.about-section img{
margin-top: 2rem;
}
.about-text h1{
font-size: 40px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 1rem;
color: var(--dark);
}
.about-text h4{
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 1rem;
color: var(--primary);
font-size: 22px;
font-weight: 500;
}
.about-text p{
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding-bottom: 1rem;
color: var(--secondary);
font-size: 14px;
}
.about-text li{
line-height: 2rem;
list-style:inside;
color: var(--secondary);
}
.fa-check{
color: var(--primary);
background-color: var(--light);
padding: .5rem;
border-radius: 20px;
}
.list {
display: flex;
gap: 1rem;
margin-bottom: 1rem;
}
.list p{
/* padding-top: .6rem; */
position: relative;
top: .5rem;
}
.hero-button{
padding: 1rem;
background: var(--primary);
border: none;
border-radius: 10px;
}
.hero-button a{
color: var(---white);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
background-color: var(--light);
padding: 4rem;
margin-top: 4rem;
}
.logo-img{
display: flex;
gap: 1rem;
}
.logo-footer{
color: var(--primary);
z-index: 60;
font-family: Arial, Helvetica, sans-serif;
margin-top: .4rem;
font-size: 40px;
}
.diam{
color: var(--secondary);
font-size: 18px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-area{
display: flex;
gap: 4rem;
}

.Newsletter h2{
margin-top: 1.7rem;
font-family: 25px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
}
.input{
padding: 1rem;
border: solid 1px var(--primary);
border-radius: 10px;
}
.Newsletter button{
padding: 1rem;
background-color: var(--primary);
border: none;
border-radius: 10px;
color: var(---white);
}
.footer-links{
display: flex;
gap: 2rem;
}
.get-in{
margin-top: 1rem;

}
.get-in h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
size: 19px;
font-weight: 400;
padding-bottom: 1.5rem;
}
.footer-links a, p{
text-decoration: none;
color: var(--secondary);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-bottom: 1rem;
}
.links-area{
margin-top: 3rem;
display: flex;
justify-content: space-between;
}
.footerr{
list-style: none;
padding-bottom: .5rem;
}
.footerr a{
color: var(--secondary);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: 0.3s ease-in-out;
font-size: 17px;
}
.footerr a:hover{
color: var(--primary);
font-size:20px ;
}
}